{% extends 'padre.html' %}

{% block title %}
    <title>Tu Busqueda</title>      
{% endblock title %}


{% block contenido_que_cambia %}
<h1>Busca a tu Equipo</h1>
<form action= "{% url 'Buscar' %}" method="get">
  <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Buscar...">
  <button type="submit">Buscar</button>
</form>

{% endblock contenido_que_cambia %}

<form action="{% url 'Buscar' %}" method="get">{% csrf_token %}
  <p>Camada: <input type="number" name="camada"></p>
  <button type="submit">Enviar</button>
